<% button_text = instagram_settings.hashtag_id.empty? ? Spree.t(:add_hashtag) : Spree.t(:change_hashtag)%>
<div class="row">
  <div class="col-sm-12">
    <%= form_for instagram_settings, url: {controller: :instagram_settings, action: :update} do |f| %>
      <%= f.label :hashtag %>
      <div class="input-group">
        <%= f.text_field :hashtag, class: 'form-control'  %>
        <span class="input-group-btn">
          <%= f.submit button_text, class: 'btn btn-primary' %>
        </span>
      </div>
    <% end %>
  </div>
</div>
