<div class="alert alert-warning">
  <%= Spree.t(:please_connect_instagram) %>
</div>
<div class="row">
  <div class="col-sm-12 text-center">
    <%= button_link_to Spree.t(:connect), admin_instagram_callbacks_connect_path, class: "btn-success", icon: 'add' %>
  </div>
</div>
