.select2-results .select2-disabled {
  display: none;
}

.instagram-posts .select2-container {
  min-width: 100px;
}

.instagram-posts .thumbnail {
  max-height: 100px;
}

.instagram-posts .users {
  display: flex;
}
